body{
    padding: 10%;
}

.s1{
    font-weight:bolder;
}

.s2{
    padding-left: 3%;
}

.s3{
    padding-left: 3%;
}

.s4{
    text-align: right;
    font-weight:bolder;
    padding-left: 10%;
}

.s5{
    text-align: right;
    padding-left: 13%;
}

.s6{
    text-align: right;
    padding-left: 13%;
}

.s7{
    font-weight:bolder;
    padding-left: 0%;
}

.s8{
    padding-left: 3%;
}

.s9{
    padding-left: 3%;
}